* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-width: 320px;
  background-color: #ffffff;
  color: #000000;
  max-width: 1440px;
  font-size: 1em;
}

table td {
  padding: 5px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  color: white;
  background-color: black;
}
p {
  margin: 0;
  padding: 0;
}
