<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Online Bank</title>
    <link rel="stylesheet" href="/css/transactions.css" />
  </head>
  <body>
    <div>
      <h1>Transaction History</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Retailer</th>
          <th>Funds In</th>
          <th>Funds Out</th>
        </tr>
        <tr th:each="storedTransactions : ${allTransactions}">
          <td th:field="${storedTransactions.id}">
            <a th:href="@{/transactions/{link}(link=${storedTransactions.id})}"
              >[[${storedTransactions.id}]]</a>
          </td>
          <td th:field="${storedTransactions.date}">[[${storedTransactions.date}]]</td>
          <td th:field="${storedTransactions.retailer}">
            [[${storedTransactions.retailer}]]
          </td>
          <td th:field="${storedTransactions.amount}">
            <span th:if="${storedTransactions.type} == 'C'">
              [[${storedTransactions.amount}]]
            </span>
          </td>
          <td th:field="${storedTransactions.amount}">
            <span th:if="${storedTransactions.type} == 'D'">
              [[${storedTransactions.amount}]]
            </span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
